<!DOCTYPE html>
<html lang="es">

  <%- include('partials/head') %> 

<body>

    <%- include('partials/header') %>
<h2><%= title %> </h2>
  <div class="productDetalle">
    <div class="row">
    <div class="detalle col-11 col-lg-4">
      <h3 class="gravelTitulo" ><%= producto.name %> </h3>
      <h5>Color:</h5>
      <div class="colores">
        <p>Blanco<input type="checkbox" value=""></p>
        <p>Negro<input type="checkbox" value=""></p>
        <p>Rojo<input type="checkbox" value=""></p>
      </div>
      <h3> $<%= producto.price %> </h3>
      <h5>Medios de pago:
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-amex"></i>
      </h5>
      <h5>Efectivo en nuestras sucursales</h5>
      <a href=""><button class="comprar">Agregar al carrito</button></a>

    </div>

    <div class="imgProducto col-11 col-lg-5">
        <img src="/images/bici/<%=producto.image %>" alt="">
    </div>
  </div>
  </div>


  <div class="conteiner">
    <div class="row">
      <div class="text col-lg-11">
       
        <p class="textDetalle"> 
      
      <p> CUADRO: Aluminio Specialized E5 Premium, Open Road Geometry, caja pedalera roscada, eje pasante de 12x142mm., monturas para disco flat-mount</p>
      <p>HORQUILLA: Carbono Specialized FACT, montura para disco flat-mount, eje pasante de 12x100mm.</p>
      <p>RUEDA DELANTERA: Axis Sport Disc</p>
      <p> RUEDA TRASERA: Axis Sport Disc</p>
      <p>CÁMARAS: Válvula Presta de 48mm.</p>
      
      <p> CUBIERTA DELANTERA: Espoir Sport, 60 TPI, aro de alambre, doble protección BlackBelt, 700x30mm.</p>
      
      <p>CUBIERTA TRASERA: Espoir Sport, 60 TPI, aro de alambre, doble protección BlackBelt, 700x30mm.</p>
      
      <p> PALANCAS: Shimano Claris R200</p>
      
      <p>EJE DE CENTRO: BSA, cuadradillo, 68mm.</p>
      
      <p>PALANCA DE CAMBIOS: Shimano Claris 2000, 8-vel</p>
      
      <p>DESVIADOR DELANTERO: Shimano Claris, 8-vel, sin abrazadera</p>
      
      <p> DESVIADOR TRASERO: Shimano Claris, 8-vel</p>
      
      <p> CASSETTE: SunRace, 8-vel, 11-34d</p>
      
      <p> CADENA: KMC X8 c/ Missing Link™, 8-vel</p>
      
      <p> FRENO DELANTERO: Tektro Mira, flat-mount, disco mecánico</p>
      
      
      <p> FRENO TRASERO: Tektro Mira, flat-mount, disco mecánico</p>
      
      <p>  MANUBRIO: Specialized Shallow Drop, 6061, 70x125mm., 31,8mm. de diámetro</p>
      
      <p>  CINTA: Specialized S-Wrap</p>
      
      <p> STEM: Specialized, aleación forjada en 3D, 4 tornillos, elevación de 6 grados</p>
      
      <p> ASIENTO: Body Geometry Toupé Sport, raíles de acero, 143mm.</p>
      
      <p> POSTE DE ASIENTO: Aleación, pinza de 2 tornillos, retroceso de 12mm., 27,2mm., anti-corrosión</p>
      
      <p> ABRAZADERA: Collar de asiento con monturas para porta-equipaje Diverge</p>
      
      <p> PEDALES: Nylon, 105x78x28mm., bolilla suelta c/reflectores</p>
      </p> 
    
    </div>
        
    
  

<div class="cardB col-lg-11">
    <h6>Bicicletas Similares</h6>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-6 col-lg-3">
      <div class="card">
        <img src="/images/Bicicletas/Ruta/Bicicleta Rodado 28 Specialized VENGE PRO - SRAM eTAP 2020/Bicicleta Rodado 28 Specialized VENGE PRO - SRAM eTAP 2020.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">VENGE PRO-SRAM</p>
          <p class="card-text">Precio: $12.234</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <img src="/images/Bicicletas/Ruta/Bicicleta Rodado 28 Specialized DIVERGE E5 ELITE 2019 Mujer/Bicicleta Rodado 28 Specialized DIVERGE E5 ELITE 2019 Mujer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"> DIVERGE E5 ELITE</p>
          <p class="card-text">Precio: $12.334</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <img src="/images\Bicicletas\Ruta\Bicicleta Rodado 28 Specialized VENGE PRO - SRAM eTAP 2020/Bicicleta Rodado 28 Specialized VENGE PRO - SRAM eTAP 2020.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">VENGE PRO-SRAM</p>
          <p class="card-text">Precio: $12.234</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <img src="/images/Bicicletas/Ruta/Bicicleta Rodado 28 Specialized DIVERGE E5 ELITE 2019 Mujer/Bicicleta Rodado 28 Specialized DIVERGE E5 ELITE 2019 Mujer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"> DIVERGE E5 ELITE</p>
          <p class="card-text">Precio: $12.334</p>
        </div>
      </div>
    </div>
  </div>

</div>

</div></div>

  
         
  <%- include('partials/footer') %>

</body>
</html>
