<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <h2 class="ml-3"><%= title %>:</h2> 
    <% productos.forEach(producto =>{ %>
    <div class="container">
      <div class="row">

        <form action="" method="post">
          <div class="col-6 col-md-3 col-lg-3 ml-4 todosLosProductos " style="justify-content: space-around;">
           <section>
           
           <div class="card-deck mb-4" >
              <div class="card" style="width: 18rem; ">
                <a href="/products/detalle/<%= producto.id %>"><img src="/images/bici/<%= producto.fotos %>" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h5 class="card-title"><%= producto.nombre %> </h5>
                  
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Marca :  <%= producto.marca %></li>
                  <li class="list-group-item">color :  <%= producto.color %></li>
                  <li class="list-group-item"> $<%= producto.precio %></li>
                </ul>
                <div class="card-body text-center">
                  <a href="#" class="card-link">Comprar </a>
                 
                </div>
              </div>
            </div> 

           
          </section>
          </div>
        </form>
      </div>
    </div> 
    <% }) %>
    <%- include('partials/footer') %>
  </body>
</html>
