<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <h2 class="ml-3">Listado de productos disponibles:</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-md-3 todosLosProductos">
          <section>
            <% products.forEach(producto =>{ %>
            <div class="prd ml-2">
              <%= producto.marca %> <%= producto.nombre %> <br />
              $<%= producto.precio %>
              <a href="/products/<%= producto.id %>">
              <img src="../public/images/bici/<%=producto.fotos %>" alt=""/></a>
            </div>
            <% }) %>
          </section>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
