<!DOCTYPE html>
<html lang="es">

  <%- include('partials/head') %> 

<body>

    <%- include('partials/header') %>
<h2><%= title %> </h2>
  <div class="productDetalle">
    <div class="row">
    <div class="detalle col-11 col-lg-4">

      <div class="card border-primary mb-3" >
        <div class="card-header bg-dark text-white border-primary"><h3 class="gravelTitulo" ><%=producto.categoria.nombre%></h3></div>
        <div class="card-body bg-dark text-white">
          <h5 class="card-title"><%=producto.nombre %></h5>
          <p class="card-text">color : <%= producto.color %> <br>precio: $ <%= producto.precio %></p>
          <h5>Medios de pago:
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
          </h5>
          <h5>Efectivo en nuestras sucursales</h5>
          
          <a href="/products/cart"><button class="comprar">Agregar al carrito</button></a>
      
        </div>
      </div>


    </div>

    <div class="imgProducto col-11 col-lg-5">
        <img src="/images/bici/<%=producto.fotos %>" alt="">
    </div>
  </div>
  </div>


  <div class="conteiner">
      <div class="bg-dark text-white border-primary ml-4 mb-5 col-11 col-lg-11">
        <p class="text">
          <%= producto.descripcion %>
        </p> 
    </div>
  </div>
</div>
        
    
  

<div class="cardB col-lg-11">
    <h6>Bicicletas Similares</h6>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-6 col-lg-3">
      <div class="card">
        <img src="/images/Bicicletas/Ruta/Bicicleta Rodado 28 Specialized VENGE PRO - SRAM eTAP 2020/Bicicleta Rodado 28 Specialized VENGE PRO - SRAM eTAP 2020.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"><%= producto.nombre %> </p>
          <p class="card-text">$<%= producto.precio %></p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <img src="/images/Bicicletas/Ruta/Bicicleta Rodado 28 Specialized DIVERGE E5 ELITE 2019 Mujer/Bicicleta Rodado 28 Specialized DIVERGE E5 ELITE 2019 Mujer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"> <%= producto.nombre %> </p>
          <p class="card-text">$<%= producto.precio %></p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <img src="/images\Bicicletas\Ruta\Bicicleta Rodado 28 Specialized VENGE PRO - SRAM eTAP 2020/Bicicleta Rodado 28 Specialized VENGE PRO - SRAM eTAP 2020.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"><%= producto.nombre %> </p>
          <p class="card-text">$<%= producto.precio %></p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <img src="/images/Bicicletas/Ruta/Bicicleta Rodado 28 Specialized DIVERGE E5 ELITE 2019 Mujer/Bicicleta Rodado 28 Specialized DIVERGE E5 ELITE 2019 Mujer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"> <%= producto.nombre %> </p>
          <p class="card-text">$<%= producto.precio %></p>
        </div>
      </div>
    </div>
  </div>

</div>

</div></div>

  
         
  <%- include('partials/footer') %>

</body>
</html>
