<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/productAdd.css">
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <section class="perfilUsuario">
        <div class="row perfil">
          <div class="titulo col-12">
            <h2><%= title %></h2>
          </div>
          <div class="col-12">
            <div class="contenido">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="home-tab"
                    data-toggle="tab"
                    href="#datos"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                    >Mis Datos</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link active"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#productos"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                    >Mis Publicaciones</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="home-tab"
                    data-toggle="tab"
                    href="#vender"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                    >Vender</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade"
                  id="datos"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Tenetur, ut. Magni esse doloremque ipsum, ut asperiores
                  deleniti laudantium sapiente veritatis debitis reiciendis
                  soluta quis corporis deserunt odit beatae suscipit
                  perspiciatis.
                </div>
                <div
                  class="tab-pane fade"
                  id="vender"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >
                <div class="container">
                  <h3>
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-bicycle"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M3 12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10-1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935 2.375 3.8a.5.5 0 1 1-.848.53L10.5 6.943l-2.076 3.322A.5.5 0 0 1 8 10.5H3a.5.5 0 0 1-.424-.765L5 5.857V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443L3.902 9.5h3.196L5.5 6.943zM8 9.057L9.598 6.5H6.402L8 9.057z"
                      />
                    </svg>
                    Formulario de Carga de Producto
                  </h3>
                </div>
                <div class="container cargaProducto">
                  <div class="datobici">
                    <div class="row">
                      <form action="" method="POST">
                      <input
                        type="text"
                        id="nombreProducto"
                        placeholder="Nombre del Producto"
                      />
                    </div>
                    <div class="row mt-2">
                      <div class="col-6">
                        <span>Tipo</span>
                      </div>
                      <div class="col-6">
                        <select class="custom-select" name="category" id="category">
                          <option value="">BMX</option>
                          <option value="">Montaña</option>
                          <option value="">Ruta</option>
                          <option value="">Infantil</option>
                          <option value="">Urbana</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-6">
                        <span>Marca</span>
                      </div>
                      <div class="col-6">
                        <select class="custom-select" name="Marcas" id="Marcas">
                          <option value="">Venzo</option>
                          <option value="">Specialized</option>
                          <option value="">Olmo</option>
                          <option value="">Raleigh</option>
                          <option value="">Scott</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-6">
                        <span>Modelo</span>
                      </div>
                      <div class="col-6">
                        <input type="text" class="inPrecio" name="price" id="price">
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-6">
                        <span>Color</span>
                      </div>
                      <div class="col-6">
                        <select class="custom-select" name="Colores" id="Colores">
                          <option value="">Negro</option>
                          <option value="">Gris</option>
                          <option value="">Blanco</option>
                          <option value="">Violeta</option>
                          <option value="">Rosado</option>
                          <option value="">Azul</option>
                          <option value="">Celeste</option>
                          <option value="">Verde</option>
                          <option value="">Amarillo</option>
                          <option value="">Naranja</option>
                          <option value="">Rojo</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-6">
                        <span>Precio</span>
                      </div>
                      <div class="col-6">
                        <input type="number" class="inPrecio">
                      </div>
                    </div>
                    <div class="row">
                      <button type="button" class="btn btn-success">Cargar Producto</button>
                    </div>
                  </div>
                  <div class="cargafoto">
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input"
                        id="customFileLang"
                        lang="es"
                      />
                      <label class="custom-file-label" for="customFileLang"
                        >Seleccionar Archivo</label
                      >
                    </div>
                  </div>
                  <div class="fichaTecnica">
                    <h5>Ficha Tecnica</h5>
                    <textarea
                      name="description"
                      id="description"
                      cols="30"
                      rows="10"
                    ></textarea>
                  </div>
                </div>
                </div>
              </form>
                <div
                  class="tab-pane fade show active"
                  id="productos"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                <h1>Tus Publicaciones</h1>
                  <div class="row productos p-4">
                    <% productos.forEach(producto => { %>
                    <div class="col-12 col-md-3 col-xl-2">
                      <div class="contenido">
                        <figure>
                          <a href="./detail/<%= producto.id %> "
                            ><img
                              src="/images/bici/<%- producto.image %>  "
                              alt=" "
                          /></a>
                        </figure>
                        <%if (producto.name.length > 20) {%>
                        <p><%- producto.name.slice(0,20) + '...'%></p>
                        <%}%>
                        <div class="d-flex justify-content-around">
                          <form
                            action="/products/show/<%= producto.id %>/show"
                            method="GET"
                          >
                            <button class="btn btn-outline-light">
                              <h4 class="fas fa-info-circle text-info"></h4>
                            </button>
                          </form>
                          <form
                            action="/products/show/<%= producto.id %>/edit"
                            method="GET"
                          >
                            <button class="btn btn-outline-light">
                              <h4 class="fas fa-edit text-primary"></h4>
                            </button>
                          </form>
                          <form
                            action="/products/delete/<%= producto.id %>?_method=DELETE"
                            method="POST"
                          >
                            <button class="btn btn-outline-light" type="submit">
                              <h4 class="fas fa-trash-alt text-danger"></h4>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                  </div>
                  <!--finaliza el row-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
